:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

html:root {
  --el-font-family: var(--font-sans);
}

#app {
  height: 100dvh;
  overflow: auto;
}
